body { background-color : rgb(254, 250, 210);
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* 100% ของ viewport height */
        margin: 0; /* ลบ margin ของ body */
    }

    table {
        border-collapse: collapse;
        width: 80%; /* กำหนดความกว้างของ table */
        margin: 10px; /* กำหนดระยะห่างของ table จากขอบข้าง */
    }

    label {
        display: block; /* ทำให้ label เป็น block element เพื่อให้มีขึ้นบรรทัดใหม่ */
        margin-bottom: 8px; /* กำหนดระยะห่างด้านล่างของ label */
    }

    input {
        width: 100%; /* ทำให้ input ครอบทั้งความกว้างของพื้นที่ที่กำหนด */
        box-sizing: border-box; /* ไม่ให้ padding และ border ทำให้ขนาดของ input เพิ่มขึ้น */
        margin-bottom: 12px; /* กำหนดระยะห่างด้านล่างของ input */
    }

    .login-container {
        width: 300px;
        margin: auto;
        margin-top: 40px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-container h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    .login-container label {
        display: block;
        margin-bottom: 5px;
    }

    .login-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container button {
        background-color: #ffbb00;
        color: rgb(0, 0, 0);
        padding: 10px 15px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

    .login-container button:hover {
        background-color: #0056b3;
    }

    .signup-link {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #007bff;
    }
