
body {
    background-image: url('images2/bgHome.png'); /* เปลี่ยน path/to/your/image.jpg เป็นที่อยู่ของรูปภาพที่คุณต้องการใช้เป็นพื้นหลัง */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.bg-header {
    background-image: url(images2/THfood.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: background-position 0.5s ease-in-out; /* เพิ่ม transition เพื่อทำให้การเปลี่ยนแปลงของ background-position เน้นโค้งสร้างเอฟเฟกต์เนื้อหามากขึ้น */
}
