

/* สีของ icon เมื่อ hover */
.material-icons-outlined:hover {
    color: #ff9800;
}

/* ขนาดของรูป profile */
.profile {
    height: 3rem;
    width: auto;
    border: 0;
}

/* ระยะห่างระหว่าง icon และข้อความใน dropdown menu */
.dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* สีของข้อความใน dropdown menu */
.dropdown-item p {
    color: #2b2a2a;
    margin: 0;
}

/* สีของข้อความใน dropdown menu เมื่อ hover */
.dropdown-item:hover p {
    color: #ff9800;
}


