      
     table {
        width: 800px;
        border-collapse: collapse;
        }

      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }


      th {
        background-color: #f2f2f2;
        color: #333;
      }

      /* สไตล์สำหรับรูปภาพ */
      .thumbnail {
        width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
          /* สีของ Navbar */
    .navbar-custom {
        background-color: #b5774b; /* เปลี่ยนสี Nav */
        box-shadow: 0 2px 4px rgba(0,0,0,0.8); /* เพิ่มเงาให้ Navbar */
    }

    /* สีของลิงค์ใน Navbar */
    .navbar-custom .nav-link {
        color: #000000; /* เปลี่ยนสีตัวอักษร */
    }

    /* สีของลิงค์ที่เมาส์ hover อยู่ */
    .navbar-custom .nav-link:hover {
        color: #F5F5DC; /* เปลี่ยนสีตัวอักษรเมื่อ hover */
    }
   
    body {
        background-color: #DEB887; /* เปลี่ยนสีพื้นหลังเป็นสีเทาอ่อน */
    }
           /* เลือกสีของดรอปดาวน์ */
    .status-select {
        width: 140px; /* ปรับความกว้างของ dropdown เป็น 200px */
        background-color: #FFD700; /* สี dark orange */
        color: #000000; /* สีข้อความ */

        position: relative; /* กำหนดให้เป็นตำแหน่งแบบเก็บรักษาที่ตำแหน่งเดิม */
       
        left: 645px; /* ปรับตำแหน่ง dropdown ไปทางซ้ายอีก 10px */
    }

    /* เลือกสีของตัวเลือกในดรอปดาวน์ */
    .status-select option {
        background-color: white; /* สีพื้นหลัง */
        color: #000000; /* สีข้อความ */
    }

    .figtable {
      margin: auto; /* ทำให้ตารางอยู่ตรงกลางของ Body */
      background-color: #F5DEB3; /* เปลี่ยนสีพื้นหลังของตาราง */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กับตาราง */
      border-radius: 10px; /* ปรับขอบของตารางให้เป็นรูปโค้ง */
      margin-top: 20px;
    }

    .figtable1{
      margin: 10px; /* ทำให้ตารางอยู่ตรงกลางของ Body */
      background-color: #DEB887; /* เปลี่ยนสีพื้นหลังของตาราง */
      border-radius: 5px; /* ปรับขอบของตารางให้เป็นรูปโค้ง */
    }

