@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
* {
  box-sizing: border-box;
}

form { 
    display: none; 
    position: absolute;
    background-color: rgb(230, 160, 160);
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 400px; 
    height: 150px;
    left: 35%; /* ให้ฟอร์มอยู่ตรงกลาง */
}


#closeFormBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

credit-card input {
    width: 100%;
}

.col1{
    text-align: right;
    width: 30%;
}

.col2{
    position: relative;
    left: 10px;
}



